<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Muller</title>
    <script src="js/jquery-3.3.1.slim.min.js"></script>
    <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script src="js/slick.min.js"></script>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
<div class="container">
        <!--#middle-->
</div>
<script src="js/main.js"></script>
</body>
</html>