<header class="header">
    <h1 class="main-title">Prof. Dr. Jochem Muller</h1>
    <nav class="nav-menu"><a href="#" class="nav-menu-item">Actuelles</a><a href="#" class="nav-menu-item">Projecte</a><a href="#"
                                                                                                           class="nav-menu-item">Studierende</a><a
            href="#" class="nav-menu-item">Unternehmen</a><a href="#" class="nav-menu-item">Zur Person</a><a href="#"
                                                                                          class="nav-menu-item">Abschlussarbeiten</a><a
            href="#" class="nav-menu-item">Kontract</a></nav>
</header>